<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/register}">Register</a></li>
    </ul>
</nav>
<h1>eUprava</h1>
<p>Make your appointment fast and easy!</p>
<h4>We offer wide variety of vaccines. Some of the most popular ones are:</h4>
<h4><a th:href="@{/info}">Pfizer-BioNTech</a></h4>
<h4><a th:href="@{/setAppointment}">Oxford-AstraZeneca</a></h4>
<h4><a th:href="@{/sinopharm}">Sinopharm BIBP</a></h4>
<h4><a th:href="@{/moderna}">Moderna</a></h4>
<h4><a th:href="@{/appointment}">schedule an appointment</a></h4>



</body>
</html>
